
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

form{
    width: 600px;
    /* text-align: center; */
    margin: auto;
    background-color: #04AA6D;
    padding: 15px;

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  textarea {
    width: 100%;
    height: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
  input[type=submit] {
    background-color: #015E3C;
    border: none;
    color: #f8f8f8;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }